.centrar
	{
		position: absolute;
		/*nos posicionamos en el centro del navegador*/
		top:50%;
		left:50%;
		/*determinamos una anchura*/
		
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top:-100px;
		border:1px solid #808080;
		padding:5px;
    }
    
    .prueba{
        background-color: lightblue;
        font-family: cursive;
        text-align: left;
        margin: 3% 10%;
        padding: 1% ;
    }
    .hola{
        background-color: lightblue;
        font-family: cursive;
        text-align: left;
        margin: 5% 5%;
        padding: 1% ;
    }

    .footeruno{
        padding: 1%;
        text-align: center;
        font-family: monospace;
        color: lavender;
        background-color: #1976d2;
      }
    
      .label {
        color: white;
        padding: 8px;
      }
      