
<div class="hola">
    <h1>Ingresa tu Tweet</h1>
    <label class="label">Tweet</label>
    <input type="text"[(ngModel)]="minewTweet.texto">
    <h2></h2>
    <label class="label">
        Autor
    </label>
    <input type="text"[(ngModel)]="minewTweet.autor">
    <label class="label">
        Fecha
    </label>
    <input type="date"[(ngModel)]="minewTweet.fecha">
    <label class="label">
        Likes
    </label>
    <input type="text"[(ngModel)]="minewTweet.likes">
    <button (click)="addtweeter()">Añadir tweet</button>
</div>

<hr>


    <div *ngFor="let tweet of listaTweets" >
         
        <div class="prueba">
            <h3> Fecha: {{tweet.fecha}}  -- @{{tweet.autor}}</h3> 
            {{tweet.texto}}
            <p>Likes    {{tweet.likes}} </p>
         
        </div>
  
    </div>


<hr>

<footer  class="footeruno">
    <div>
        <p>Ricardo Castro - Carlos Reyes</p>
        <p>Estudiantes Ingenieria de Sistemas</p>
        <a href="https://www.poli.edu.co/content/estudiantes">Sitio web Politecnico Grancolombiano</a>
        <h2>Politecnico Grancolombiano</h2>
    </div>

</footer>


